/*selector universal "*"*/
*{
    padding: 0px; 
    margin: 0px auto;
    font-family: sans-serif;
}

/*1)ESTILOS SECCIONES FIJAS*/

/*Footer fijo */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header, footer, main{
    margin:0px;
}

/*a) Estilos barra navegación*/
nav{
    background:linear-gradient(180deg,#2471A3, #2980B9);
    position: fixed;
    z-index: 100;
    padding: 0px 100px;
    top: 0px;
}

#logo{ 
    height: 60px;   
    padding-top: 10px;      
}

/*b) Estilos de Footer*/
footer{
    background-color:rgba(77, 77, 77);
    padding: 0px 100px;
    height: 40px;  
}

footer p{
    padding-top: 10px;
    font-size: 14px;
    color: white;
    text-align: left;    
}

/*2)ESTILOS SECCIONES DINÁMICAS*/

/*a)Página de inicio*/

.carouselcontent{
    background-color:rgba(77, 77, 77, 0.4);
    margin: 120px 120px;
    height: 300px;
}

.carousel.carousel-slider{
    margin-top:25px;
    height: 90vh;
}

#welcomeimage h2{   
    margin-top:0px;
    padding-top:50px; 
    font-weight: bold;   
    font-size: 36px;
    text-align: center;      
    color: #FFFFFF;    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 1); 
    text-transform: uppercase;
}

#welcomeimage p{     
    font-size: 28px;
    text-align: center;     
    color: #FFFFFF;             
}

#onecarousel{
    background-image: url(Image/carousel01.jpg);    
    background-size: cover;
    background-position:center;
    width: 100%;   
}

#twocarousel{
    background-image: url(Image/carousel02.jpg);   
    background-size: cover;
    background-position:center;
    width: 100%;   
}

#threecarousel{
    background-image: url(Image/carousel03.jpg);    
    background-size: cover;
    background-position:center;
    width: 100%;   
}


.btnstart{
    width: 190px;
    height: 45px;
    margin: 30px 100px;
    background: rgba(128, 139, 150,  0.8);
    border: 1px solid rgba(128, 139, 150 , 0.8) ;  
    color: white;
    font-size: 18px;  
    cursor: pointer;
}

.btnstart:hover{
    background: #2471A3;
    border: 1px solid #2471A3;     
    font-weight: bold;  
}

/*Página de búsqueda de indicadores*/
main #searchview{
    color:#212F3C;  
    padding: 50px 100px;
    background-color: rgb(236, 239, 241, 0.2);
}

#searchview h3{
    font-weight: bold;   
    font-size: 36px;
    text-transform:uppercase;
    color:#212F3C;
}

#searchview p{
    font-size: 20px;
    padding-top:10px;
    padding-bottom:10px;
}

#searchresult{
    margin-top:50px;
}

/*RESPONSIVO*/

/*Dispositivo Movil (Celular)*/
/*a) Responsivo html fijo */

@media (max-width: 992px){
    
    nav{
        height: 180px;
    }

    #logo{ 
        height: 150px;   
        display: block; 
        margin-top: 10px; 
    }

    nav i.material-icons{
        font-size:100px;
        margin-top: 65px;
    }

    .sidenav{
        width: 700px;
    }
    .sidenav li a{
        font-size:40px;
        margin-top:50px;     
    }

    footer{
        padding: px 100px;
        height: 100px;  
    }    

    footer p{
        padding-top: 30px;
        font-size: 26px;
        text-align: left;    
    }
      
}

@media (max-width: 992px){
    .carousel.carousel-slider{
        
        height: 95vh;
    }
    .carouselcontent{
        margin: 300px 100px;      
        height: 1200px;
    
    }
       
    main #welcomeimage{        
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-size: cover;
    }   
    
    #welcomeimage h2 {  
        padding-top:220px;
        font-size: 64px;   
        line-height:100px;     
         
    }

    #welcomeimage p{
        padding-top:40px;          
        font-size: 48px; 
    }

    .btnstart{
        width: 380px;
        height: 90px;
        font-size: 48px;  
        margin-top:50px;
    }
}

/*Responsivo Página búsqueda*/
@media (max-width: 992px){
    main #searchview{
        padding: 200px 100px;
        background-color: rgb(236, 239, 241, 0.2);
    }
    
    #searchview h3{         
        font-size: 64px;
    }
    
    #searchview p{
        font-size: 48px;
       
    }
    
    #sectionfilter{
        font-size: 26px;
    }

    #searchresult{
        margin-top:50px;
    }


}